@import '../variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    .search-icon, .user-icon {
        width: 100px;
        background-color: $blue;
        padding: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-nav {
        width: 100%;
        background-color: $red;
        position: relative;
        ul {
            display: flex;
            justify-content: center;
            li {
                padding: 31px 40px;
                list-style: none;
                a {
                    color: $softWhite;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }
            li:hover, li.active {
                a {
                    font-weight: bold;
                    font-size: 20px;
                    transition: all .5s ease-in-out;
                }
            }
        }
        .top-ellipse {
            position: absolute;
            left: 50%;
            top: 0px;
            z-index: -1;
            transform: translateX(-50%);
        }
        .top-corona {
            position: absolute;
            left: 50%;
            top: 60px;
            transform: translateX(-50%);
            img {
                width: 45px;
            }
        }
    }
}
.hero-area {
    background-image: url(../../img/background1.jpg);
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;
    .hero-content {
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    h1 {
        font-size: 50px;
        font-weight: bold;
        color: $white;
        line-height: 45px;
        padding: 150px 0 60px;
    }
}
.button {
    margin-bottom: 100px;
}
.btn1 {
    padding: 15px 45px;
    background: red;
    color: white;
    border: none;
    font-size: 15px;
    margin: 0 5px;
}
.btn2 {
    padding: 15px 45px;
    border: none;
    font-size: 15px;
}
.right-ellipse {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%); 
}
.left-ellipse {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}
.box-area {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    border-radius: 35px;
    width: 80%;
    height: 300px;
    background-color: rgb(248, 245, 245);
    position: relative;
    margin-top: 30px;
    padding: 60px;
}
.box-area h2 {
    clear: left;
}
.box-area p {
    margin-top: 30px;
}
.big-corona {
    position: absolute;
    top: 15%;
    right: 10%;
}

@media screen and (max-width: 1320px) and (min-width: 769px) {
    header {
        .main-nav {
            ul {
                li {
                    padding: 31px 20px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}