@import '../variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    .search-icon, .user-icon {
        width: 100px;
        background-color: $blue;
        padding: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-nav {
        width: 100%;
        background-color: $red;
        position: relative;
        ul {
            display: flex;
            justify-content: center;
            li {
                padding: 31px 40px;
                list-style: none;
                a {
                    color: $softWhite;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-family: sans-serif;
                }
            }
            li:hover, li.active {
                a {
                    font-weight: bold;
                    font-size: 20px;
                    transition: all .5s ease-in-out;
                }
            }
        }
        .top-ellipse {
            position: absolute;
            left: 50%;
            top: 0px;
            z-index: -1;
            transform: translateX(-50%);
        }
        .top-corona {
            position: absolute;
            left: 50%;
            top: 60px;
            transform: translateX(-50%);
            img {
                width: 45px;
            }
        }
    }
}
.hero-area {
    background-image: url(../../img/background1.jpg);
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;
}

