
.search{
    width: 100%;
    padding: 15px;
    font-size: 19px;
    border-radius: 10px;
    padding-left: 35px;
}
.search::after{
    content: '';
    position: relative;
    
}
.search:hover{
    border: 3px solid black;
}
.icon{
    position: absolute;
    padding: 18px 12px;
    color: gray;
}