body{
    background-color: rgb(226, 215, 215);
}
div{
    margin: 65px;
    background-color: rgb(226, 215, 215);
}
.input {
    width: 97%;
    padding: 18px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid rgb(156, 146, 146);
}
.input:hover{
    border: 2px solid;
    cursor: pointer;
}
.country {
    width:100%;
    padding: 18px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid rgb(156, 146, 146);
}
.country:hover{
    border: 2px solid;
    cursor: pointer; 
}
.btn{
    width: 100%;
    padding: 18px;
    border-radius: 5px;
    margin-top: 26px;
    border: 1px solid rgb(156, 146, 146);
    background-color: #04AA6D;
    font-size: 18px;
    transition: 0.3s;
}
.btn:hover{
     background-color: #17815a;
}