div{
    padding: 80px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
form {
    margin: 45px;
    width: 50%;
    left: 0;
    top: 0;
    margin: auto;
    margin-top: 40px;
}
form input#first {
    width: 100%;
    padding: 18px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid rgb(156, 146, 146);
    box-sizing: border-box;
}
.input:hover{
    border: 2px solid;
    cursor: pointer;
}
.country {
    width:100%;
    padding: 18px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid rgb(156, 146, 146);
}
.country:hover{
    border: 2px solid;
    cursor: pointer; 
}
.btn{
    width: 100%;
    padding: 18px;
    border-radius: 5px;
    margin-top: 26px;
    border: 1px solid rgb(156, 146, 146);
    background-color: #04AA6D;
    font-size: 18px;
    transition: 0.3s;
}
.btn:hover{
     background-color: #17815a;
}