ul.main-nav {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}
ul.main-nav > li {
  list-style: none;
  float: left;
}
ul.main-nav > li > a {
  text-decoration: none;
  padding: 20px 20px;
  color: white;
  display: inline-block;
}
ul.main-nav > li:hover ul.dropdown {
  display: block;
}

ul.dropdown {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  position: absolute;
  display: none;
}
ul.dropdown > li {
  list-style: none;
}
ul.dropdown > li > a {
  text-decoration: none;
  padding: 20px 20px;
  color: white;
  display: block;
}
[class*="drop"] {
  background: red;
}
