* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between; }
  header .search-icon, header .user-icon {
    width: 100px;
    background-color: #00132b;
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: center; }
  header .main-nav {
    width: 100%;
    background-color: #ed242e;
    position: relative; }
    header .main-nav ul {
      display: flex;
      justify-content: center; }
      header .main-nav ul li {
        padding: 31px 40px;
        list-style: none; }
        header .main-nav ul li a {
          color: #fefefd;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 18px;
          font-family: sans-serif; }
      header .main-nav ul li:hover a, header .main-nav ul li.active a {
        font-weight: bold;
        font-size: 20px;
        transition: all .5s ease-in-out; }
    header .main-nav .top-ellipse {
      position: absolute;
      left: 50%;
      top: 0px;
      z-index: -1;
      transform: translateX(-50%); }
    header .main-nav .top-corona {
      position: absolute;
      left: 50%;
      top: 60px;
      transform: translateX(-50%); }
      header .main-nav .top-corona img {
        width: 45px; }

.hero-area {
  background-image: url(../../img/background1.jpg);
  width: 100%;
  height: 60vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2; }
